.hero-box {
  background: url("/assets/img/hero.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 30vh;
}

.hero-content {
  width: 30vw;
  color: #fff;
  margin-top: 4vh;
  margin-left: 6vw;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content h1 {
  background-color: #29251f;
  display: inline;
  padding: 1%;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

.hero-content p {
  background-color: #29251f;
  color: white;
  padding: 0.625rem;
  display: inline;
  text-transform: uppercase;
}

.hero-content .btn {
  background-color: none;
  color: white;
  border-color: #a49f9f9f;
  font-size: 1rem;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 5px;
  font-weight: bold;
}

.hero-content .btn:hover {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.hero-text {
  margin-top: 2rem;
}

.socialtop {
  float: right;
  margin-left: 1%;
}

nav {
  height: 3rem;
  width: 100%;
}

ul {
  float: left;
  margin-left: 5%;
}

ul li {
  margin-right: 1px;
  padding: 0;
  border-right: 1px solid #e2e2e2;
  position: relative;
  display: inline-block;
}

ul li:hover {
  background-color: darkgoldenrod;
  color: darkgray;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

ul li a {
  line-height: 3rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
  vertical-align: middle;
  font-weight: 600;
  font-size: small;
  border-color: black;
}

.top-social {
  padding: 14px 15px;
}

.top-social a {
  padding: 13px;
  color: #333;
  margin: 5px;
}

.top-social a:hover {
  color: darkgoldenrod;
}

@media only screen and (max-width: 768px) {
  .hero-box {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40vh;
  }
  .hero-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-content .btn {
    margin-bottom: 2rem;
  }
  .hero-content p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50vw;
    margin: 0 auto;
  }
  .hero-text {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=hero.component.css.map */