
    <div class="hero-box">
		<div class="hero-content">
			<div>
				<h1>{{hero_texts.title1}}</h1> <h1>{{hero_texts.title2}}</h1>
			</div>
			<div class="hero-text">
				<p>{{hero_texts.text}}</p>
			</div>
			<a class="mt-4 btn" routerLink="alumni" role="button">{{hero_texts.button}}</a>
		</div>
    </div>
	
	<nav class="d-none d-lg-block bg-light">
		
		<ul>
			<li><a routerLink="">REUNION WEEKEND 2021</a></li>
			<li><a routerLink="alumni">DISTINGUISHED ALUMNI</a></li>
			<li><a routerLink="careers">CAREER RESOURCES</a></li>
			<li><a routerLink="events">MORE EVENTS</a></li>
		</ul>
		<div class="socialtop">
			<div class="top-social">
				<a href="#"><i class="fa fa-linkedin" ></i></a>
				<a href="#" ><i class="fa fa-facebook-f"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
			</div>
		</div>
		
	</nav>
		
