
      <div class="jumbotron">
	<div class="hero-content">
	<div><h1>Codfactory</h1> <h1>Alumni!</h1> </div>
	<div><p class="mt-2">It uses utility classes for typograpnd asdst <br> spaasdfaasdfasdfsdfasdf</p><br></div>
	<a class="btn" href="#" role="button">Learn more</a>
	</div>
      </div>
      
		  <nav class="d-sm-none d-none d-md-block">
		
			<ul>
				<li><a href="#">REUNION WEEKEND 2021</a></li>
				<li><a href="#">DISTINGUISHED ALUMNI</a></li>
				<li><a href="#">CAREER RESOURCES</a></li>
				<li><a href="#">MORE EVENTS</a></li>
			</ul>
			<div class="socialtop">
				<div class="top-social">
					<a href="#"><i class="fa fa-linkedin" ></i></a>
					<a href="#" ><i class="fa fa-facebook-f"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
		
		</nav>
		
