<footer class="mt-auto py-3">
    <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
        <footer>
            <div class="row my-1 my-md-5 justify-content-center py-1 py-md-5">
                <div class="col-11">
                    <div class="row  d-flex justify-content-center">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                            <h3 class="text-muted mb-md-0 mb-5 bold-text text-center text-md-start">CODE FACTORY VIENNA </h3>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                            <h6 class="menu mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                            <ul class="list-unstyled">

                                <li class="footer-item">
                                    <a class="footer-link" routerLink="page">Home</a>
                                  </li>
                                  <li class="footer-item">
                                    <a class="footer-link" routerLink="stories">Stories</a>
                                  </li>
                                  <li class="footer-item">
                                    <a class="footer-link" routerLink="alumni">Alumni Directory</a>
                                  </li>
                                  <li class="footer-item">
                                    <a class="footer-link" routerLink="careers">Careers</a>
                                  </li>
                                  <li class="footer-item">
                                    <a class="footer-link" routerLink="events">Events</a>
                                  </li>
                            </ul>
                        </div>

                        <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                            <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                            <p class="mb-1">Kettenbrückengasse 23 / 2 / 12</p>
                            <p>1050 Wien</p>
                        </div>
                    
                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                            <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> Code Factory  All Rights Reserved.</small>
                        </div>
                       
                        <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                            <h6 class="mt-55 mt-2 text-muted bold-text"><b>CONTACT</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> office@codefactory.com</small>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                            <h6 class="text-muted bold-text"><b>TELEPHONE</b></h6><small><span><i class="fa fa-phone" aria-hidden="true"></i></span> 0699 12255185</small>
                        </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </footer>
    </div>
</footer>

