<p>stories works!</p>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/img/story1.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Name of student</h5>
          <p class="card-text">Job</p>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ducimus explicabo odit, suscipit amet laborum deserunt est molestiae incidunt doloremque.</p>
          <p class="card-text"><small class="text-muted">Graduation Date</small></p>
        </div>
      </div>
    </div>
  </div>

<!-- 
  https://cdn.pixabay.com/photo/2018/07/25/08/59/business-3560934_960_720.jpg -->


