/* You can add global styles to this file, and also import other style files */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// html, body {
//     overflow: auto;
//     height: 100%;
// }

body {
    background-color: rgb(220, 220, 220);
}

.style-one {
    border: 0;
    height: 1px;
    width: 90%;
    margin-bottom: 1rem;
    background: black;
    background-image: linear-gradient(to right, white, black, white);
}
