/* You can add global styles to this file, and also import other style files */
$color-dummy1: red;
$color-dummy2: green;
$color-dummy3: blue;


* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}
