.thumb-post {
    width: 100% !important;
    height: 100% !important;
    background: #fff no-repeat center !important;
    background-size: cover !important;
}
.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
button:hover {
  background-color: darkgoldenrod;
}