<p>alumni-dir works!</p>


<!-- <ul>
    <li *ngFor="let astudent of student_list">
      <h2>{{student.name}}</h2>
      {{student.text}}
    </li>
</ul> -->



<!-- <div class="container">
  <div class="row">
  <div *ngFor="let student of student_list" class="container-fluid col-lg-3 col-md-6 col-sm-12 border-0  rounded-0 shadow-sm">
  <div class="card" >
    <img src="{{student.image}}" class="card-img-top" alt="...">
    
    <div class="card-body">
      <h5 class="card-title">"{{student.name}}"</h5>
      <p class="card-text fw-lighter ">"{{student.text}}"</p>
      <p class="card-text fw-lighter ">"{{student.duration}}"</p>
      <p class="card-text fw-lighter ">"{{student.graduation}}"</p>
    </div>
  </div>
  </div>
  </div>
</div> -->