<p>alumni-dir works!</p>

<!-- <div class="container">
    <div class="row">
    <div *ngFor="let student of students; index as studentId" class="container-fluid col-lg-3 col-md-6 col-sm-12 border-0  rounded-0 shadow-sm">
    <div class="card" >
      <img src="{{students.image}}" class="card-img-top" alt="...">
      
      <div class="card-body">
        <a routerLink="students/{{productId}}">{{ students.name }}</a>
        <p class="card-text fw-lighter ">"{{students.text}}"</p>
        <p class="card-text fw-lighter ">"{{students.graduation}}"</p>
       
        
        
      </div>
    </div>
    </div>
    </div>
  </div> -->