<div class="cards">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 align-content-center"> <!-- Grid system created once -->
        <div class="col" *ngFor="let popular of popular_list; index as popular_id"> <!-- For each Card LOOP -->
            <div class="card h-100">
                <a routerLink="{{popular.type}}">
                    <img src="/assets/img/{{popular.image}}" class="card-img-top" alt="{{popular.name}}">
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">{{popular.name}}</h5>
                </div>
                <div class="card-footer text-center">
                    <p class="card-text text-muted">{{popular.date}}</p>
                </div>
    
            </div>
        </div>      
    </div>

</div>

